@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.card-selected {
  border: 2px solid #1e1e8a;
  background-color: rgba(30, 30, 138, 0.05);
}